<!DOCTYPE html>
<html lang="en">
<head>
    {% load  static  %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lab 5 </title>
    <link rel="stylesheet" type="text/css" href="{% static 'images/style.css' %}">


</head>
<div class="lab5_body">
<body>

    <section id="lab5_links">
        <h2> links </h2>
        <div>
            <a id="lab5_style_links_1" href="https://www.google.com" target="_blank" > <p> GOOGLE LINK </p> </a>
            <a id="lab5_style_links_2" href="https://github.com" target="_blank" > <p> GITHUP LINK </p> </a>
            <a id="lab5_style_links_3" href="https://qu.edu.sa/" target="_blank" > <p> QASSIME UNIVERSITY </p> </a>
        </div>
    </section>   
    
    <section id="lab5_formatting">
        <h1>formatting tages</h1>
        <p><b>Bold text</b></p>
        <p><i>Italic text</i></p>
        <p><u>Underlined text</u></p>
        <p><small>Small text</small></p>
        <p><mark>Highlighted text</mark></p>
        <p><del>Deleted text</del></p>
    </section>

    <section id="lab5_listing">
        <h2>Egyptian Governorates and Cities</h2>
        <ul>
            <li><b>Cairo</b>
                <ul>
                    <li>Nasr City</li>
                    <li>Heliopolis</li>
                    <li>Maadi</li>
                </ul>
            </li>
    
            <li><b>Alexandria</b>
                <ul>
                    <li>Agami</li>
                    <li>Montaza</li>
                    <li>Smouha</li>
                </ul>
            </li>
    
            <li><b>Giza</b>
                <ul>
                    <li>Dokki</li>
                    <li>Mohandessin</li>
                    <li>6th of October</li>
                </ul>
            </li>
        </ul>
    </section>

    <section id="lab5_tables">
      <h2> DevOps tools  </h2>
      <table border="1" class="devops-table">
        <tr>
            <th class="table-header" colspan="2">tool and use </th>
        </tr>
        <tr>
            <td class="tool-name">Git & GitHub</td>
            <td class="tool-description">manage the source code and tracking tha modifides</td>
        </tr>
        <tr>
            <td class="tool-name">Docker</td>
            <td class="tool-description">run the project in isolated environment</td>
        </tr>
        <tr>
            <td class="tool-name" rowspan="2">Cloud Services</td>
            <td class="tool-description">share the wepsite on Heroku or AWS</td>
        </tr>
        <tr>
            <td class="tool-description">managing the seves and cloding services</td>
        </tr>
        <tr>
            <td class="tool-name">Jenkins</td>
            <td class="tool-description">testing and continuous integration</td>
        </tr>
      </table>
    </section>


    
    