{% extends "layouts/base.html" %}
{% block title %} Search results {% endblock title %}

{% block content %}
<h1> List Books</h1>

{% if books %}
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Edition</th>
    </tr>   

    {% for i in books %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.title }}</td>
      <td>{{ i.author }}</td>
      <td>{{ i.price }}</td>
      <td>{{ i.edition }}</td>
    </tr>
    {% endfor %}
  </table>

{% else %}
  <p>No book is found.</p>
{% endif %}

{% comment %} {% for obj in books %} 
   ID: {{obj.id}}, Title: {{obj.title}} 
   <hr> 
{% endfor %} {% endcomment %}

{% endblock content %}
